<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong>Admin</strong>
      </div>
    </div>
  </div>
</section>
<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="case-form">
          <div class="form-group">
            <label>
              <span> Case ID</span><br>
              <input type="text" required>
            </label>
          </div>
          <div class="checkbox">
            <div class="form-group">
              <label>
                <span> Classified</span>
                <input type="checkbox" required>
              </label>
            </div>
            <div class="form-group">
              <label>
                <span> Uncalssified</span>
                <input type="checkbox" required>
              </label>
            </div>
            <div class="form-group">
              <label>
                <span> Spam Delete</span>
                <input type="checkbox" required>
              </label>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <div class="row ml-auto">
            <div class="col-md-12 ">
                <a><button type="submit" class="btn btn-secondary">View Cases</button></a>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</section>
    