<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span>Email: </span>
        <input type="email">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>Password: </span>
        <input type="password">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/dashboard']"><button type="submit" class="btn btn-secondary">Login</button></a>
      </div>
    </div>
  </div>
</section>